*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container{
    aspect-ratio: 4/3;
    background-image: url(../img/GrassyField.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.black{
    background-color: black;
}

.orange{
    background-color: orangered;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.white{
    background-color: white;
}

[class*="col-"] {
    height: 15px;
}

@media screen and (min-width: 768px){

    [class*="col-"] {
        height: 20px;
    }
    
}
@media screen and (min-width: 992px){

    [class*="col-"] {
        height: 25px;
    }
    
}